body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: aquamarine;
    padding: 10px 30px;
    box-sizing: border-box;
 }
 #outerbody{
   height: 90vh;
   width: 50vw;
   overflow:scroll ;
   background-color: white;
   background-image: url(./pexels-fotios-photos-1921336.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; */
 }
 #innerbody{
   padding: 5px 10px;
 }
#head{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #13ee0c;
  /* text-indent: 100px;*/
}
.frow{
   display: flex;
   justify-content: space-between;
}
.srow{
   display: flex;
   justify-content: space-between;
}
.frow{
   display: flex;
}
.srow,.sevenrow,.fourthrow{
   display: flex;
}
textarea{
   width:  -webkit-fill-available;
   height: 100px;
}
.lastrow{
   position: relative;
}
h3{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 10px;
   height: 10px;
   background-color: #4c526b;
   animation-name: anime;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   animation-duration: 10s;
}
@keyframes anime {
   0%   {background-color:red; left:0px; top:0px;}
   25%  {background-color:yellow; left:720px; top:0px;}
   50%  {background-color:blue; left:720px; top:95px;}
   75%  {background-color:green; left:0px; top:95px;}
   100% {background-color:red; left:0px; top:0px;}
 }

 #dt{
   display: flex;
   justify-content:space-between;
   padding: 0;
   margin: 0%;
   width: 100%;
 }